includeConfig 'conf/modules.config'

params {
    reads = null

    outdir = null
}


profiles{
    singularity {
        singularity.enabled    = true
        apptainer.enabled      = false
    }
    apptainer{
        singularity.enabled      = false
        apptainer.enabled        = true
    }
    test {includeConfig 'conf/test.config'}
}

singularity.registry   = 'quay.io'
apptainer.registry     = 'quay.io'

env {
    PYTHONNOUSERSITE = 1
    R_PROFILE_USER   = "/.Rprofile"
    R_ENVIRON_USER   = "/.Renviron"
    JULIA_DEPOT_PATH = "/usr/local/share/julia"
}

def trace_timestamp = new java.util.Date().format( 'yyyy-MM-dd_HH-mm-ss')
timeline {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_timeline_${trace_timestamp}.html"
}
report {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_report_${trace_timestamp}.html"
}
trace {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_trace_${trace_timestamp}.txt"
}
dag {
    enabled = true
    file    = "${params.outdir}/pipeline_info/pipeline_dag_${trace_timestamp}.html"
}