includeConfig 'conf/modules.config'
includeConfig 'conf/base.config'

params {
    reads = null
    outdir = null
    base_dir = null 
}

profiles{
    singularity {
        singularity.enabled    = true
        apptainer.enabled      = false
        docker.enabled         = false
        conda.enabled          = false
    }
    apptainer{
        singularity.enabled      = false
        apptainer.enabled        = true
        docker.enabled           = false
        conda.enabled            = false
    }
    docker{
        singularity.enabled     = false
        apptainer.enabled       = false
        docker.enabled          = true
        conda.enabled           = false
    }
    conda {
        singularity.enabled     = false
        apptainer.enabled       = false
        docker.enabled          = false
        conda.enabled           = true
    }
    test { includeConfig 'conf/test.config' }
    user_samples { includeConfig 'conf/user_sample.config' }
}

singularity.registry   = 'quay.io'
apptainer.registry     = 'quay.io'
docker.registry      = 'quay.io'

env {
    PYTHONNOUSERSITE = 1
    R_PROFILE_USER   = "/.Rprofile"
    R_ENVIRON_USER   = "/.Renviron"
    JULIA_DEPOT_PATH = "/usr/local/share/julia"
}

manifest {
    name = 'utdal/miRNA-Analysis by Axon Lab'
    author = """S.A. Gummadi"""
    homePage = 'https://github.com/utdal/miRNA-Analysis'
    description = """Automated miRNA Analysis Pipeline for Differential Expression, 
                    Target Analysis, and Target Gene Enrichment."""
    mainScript = 'main.nf'
}

def trace_timestamp = new java.util.Date().format( 'yyyy-MM-dd_HH-mm-ss')
timeline {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_timeline_${trace_timestamp}.html"
}
report {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_report_${trace_timestamp}.html"
}
trace {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_trace_${trace_timestamp}.txt"
}
dag {
    enabled = true
    file    = "${params.outdir}/pipeline_info/pipeline_dag_${trace_timestamp}.html"
}