// Config for modules

process{

    //
    // General configuration options
    //
    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: 'copy',
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    // Preprocessing 

    withName: FASTQC_RAW {
        ext.args = '--quiet'
        ext.prefix = { "${meta.id}_raw" }
    }

    withName: FASTQC_TRIM {
        ext.args = '--quiet'
        ext.prefix = { "${meta.id}_trimmed" }
    }

    // TODO determine whether to make this user specified 
    withName: CUTADAPT_ADAPTER {
        ext.args = '-a TGGAATTCTCGGGTGCCAAGG \
        --minimum-length 24'
        ext.prefix = { "${meta.id}.adapter" }
    }

    withName: CUTADAPT_EXTRA {
        ext.args = '--cut 4 \
        --cut -4'
        ext.prefix = { "${meta.id}.extra"}
    }

    //
    // miRDeep2
    //

    // following miRDeep2 protocol set by nf-core/smrnaseq
    // reads are converted to fasta format in this subworkflow

    // mirdeep2 mapper options"
    // -c input file is fasta format
    // -e input file is fastq format
    // -h parse to fasta format
    // -i convert rna to dna alphabet (to map against genome)
    // -j remove all entries that have a sequence that contains letters other than A,C,G,T,U,N
    // -m collapse reads
    // -v outputs progress report
    // TODO determine if we really want to convert to fasta file
    withName: MIRDEEP2_MAPPER{
        ext.args = '-c -j -v -i -m'
        ext.prefix = { "${meta.id}" }
    }

    // TODO what does this mean?
    withName: SEQKIT_REPLACE{
        ext.args = '-p "\\s+|\\." -w 0'
        ext.suffix = "fasta"
    }

    // TODO what does this mean?
    withName: MIRDEEP2_MIRDEEP2 {
        ext.prefix = { "${meta.id}" }
        errorStrategy = { task.exitStatus in (255) ? 'ignore' : ''}
    }

    //
    // exceRpt
    //
    // Functionality for exogenous alignment removed 
    //      becuase database requires 1.5 TB of memory
    withName: EXCERPT{
        ext.prefix = { "${meta.id}" }
    }

    //
    // HTSeq-count
    //
    // Look at htseq-count documentation for more options:
    // https://htseq.readthedocs.io/en/master/htseqcount.html
    // Current options in use: htseq-count -f bam -t miRNA -i Name ${args} -c ${meta.id}_raw_counts.tsv 
    //                                  -n ${threads} ${bam} ${gff3}
    withName: HTSEQ_COUNT{
        ext.args = ''
    }


    //
    // Get miRNA Targets
    //
    // TODO make user specified but with default values
    withName: TARGETS_OF_MIRNA {
        ext.args = '--clipExpNum 1 \
            --degraExpNum 0 \
            --programNum 1 \
            --program None \
            --deseq2_output False'
    }

    //
    // Intersect miRNA and RNA-seq
    //
    // TODO make user specified but with default values
    //      python script has 50 as default?
    withName: INTERSECT_MIRNA_RNASEQ {
        ext.args = '--min_expression 100'
    }
}