// Config for modules

process{

    //
    // General configuration options

    withName: FASTQC_RAW {
        ext.args = '--quiet'
    }

    withName: FASTQC_TRIM {
        ext.args = '--quiet'
    }

    // TODO determine whether to make this user specified 
    withName: CUTADAPT_ADAPTER {
        ext.args = '-a TGGAATTCTCGGGTGCCAAGG \
        --minimum-length 24'
        ext.prefix = { "${meta.id}.adapter" }
    }

    withName: CUTADAPT_EXTRA {
        ext.args = '--cut 4 \
        --cut -4'
        ext.prefix = { "${meta.id}.extra"}
    }
}