// Config for modules

process{

    //
    // General configuration options
    //


    // Preprocessing 

    withName: FASTQC_RAW {
        ext.args = '--quiet'
    }

    withName: FASTQC_TRIM {
        ext.args = '--quiet'
    }

    // TODO determine whether to make this user specified 
    withName: CUTADAPT_ADAPTER {
        ext.args = '-a TGGAATTCTCGGGTGCCAAGG \
        --minimum-length 24'
        ext.prefix = { "${meta.id}.adapter" }
    }

    withName: CUTADAPT_EXTRA {
        ext.args = '--cut 4 \
        --cut -4'
        ext.prefix = { "${meta.id}.extra"}
    }

    //
    // miRDeep2
    //

    // following miRDeep2 protocol set by nf-core/smrnaseq
    // reads are converted to fasta format in this subworkflow

    // mirdeep2 mapper options"
    // -c input file is fasta format
    // -e input file is fastq format
    // -h parse to fasta format
    // -i convert rna to dna alphabet (to map against genome)
    // -j remove all entries that have a sequence that contains letters other than A,C,G,T,U,N
    // -m collapse reads
    // -v outputs progress report
    // TODO determine if we really want to convert to fasta file
    withName: MIRDEEP2_MAPPER{
        ext.args = '-c -j -v -h -i -m'
    }

    // TODO what does this mean?
    withName: SEQKIT_REPLACE{
        ext.args = '-p "\\s+|\\." -w 0'
        ext.suffix = "fasta"
    }

    // TODO what does this mean?
    withName: MIRDEEP2_MIRDEEP2 {
        errorStrategy = { task.exitStatus in (255) ? 'ignore' : ''}
    }
}