// Test config

params{
    config_profile_name = 'Test profile'

    // Files downloaded from box folder
    genome_fasta = "/path/to/miRNA-Analysis/assets/genome_fixedx2.fa"
    bowtie_index = "/path/to/miRNA-Analysis/assets/genome"


    // Input_data
    samplesheet = '/path/to/miRNA-Analysis/assets/samplesheet.csv'
    base_dir = '/path/to/miRNA-Analysis'

    skip_preprocessing = false
    skip_deseq2 = false
    skip_mirdeep2 = false
    min_mirdeep2_score = 4.0

    // Different metadata analyses
    meta_data_files = "/path/to/miRNA-Analysis/assets/meta_data_files.csv"

    // Test differentially expressed miRNAs
    target_database = "/path/to/miRNA-Analysis/assets/miRTarBase_TargetScan_db_hsa_2025_v4.csv" // Downloaded from box folder
    
    miRNA_DE = "/path/to/miRNA-Analysis/assets/test_miRNA_list.tsv"
    deseq2_output = 0
    min_targeting_miRNA = 2

    experimental_evidence = "strong"
    min_weighted_context_percentile = 60
    max_predicted_KD = -2.0

}
