//
// Configuration Template
//

params {
    config_profile_name = "User Samples Template profile"


    // Files downloaded from box folder (only change "/path/to/" to your local paths)
    genome_fasta = "/path/to/genome_fixedx2.fa" // miRDeep2 input
    bowtie_index = "/path/to/genome" // miRDeep2 input
    target_database = "/path/to/miRTarBase_TargetScan_db_hsa_2025_v4.csv" // miRNA Target Analysis input

    //////////////////////////////////
    // miRNA Expression Parameters
    //////////////////////////////////

    // Input_data
    base_dir = "/path/to/base_dir" // Required. The directory where miRNA-Analysis is located
    samplesheet = "/path/to/samplesheet.csv" // Required. csv file with paths to samples. See assets/samplesheet.csv

    // Select Run Options
    skip_preprocessing = false // optional, default = false
    skip_mirdeep2 = false // optional, default = false
    skip_deseq2 = false // optional, default = false
    min_mirdeep2_score = 4.0 // optional, default = 4.0. See README.md for details

    align_threads = 4 // optional, default = 4. Threads for STAR alignment in exceRpt
    htseq_threads = 2 // optional, default = 2. Threads for HTSeq

    // Metadata Files for DESeq2
    meta_data_files = "/path/to/meta_data_files.csv" // Required. csv file with metadata for DESeq2
    min_padj = 0.05 // optional, default = 0.05. See README.md for details
    min_lfc = 0.58 // optional, default = 0.58. See README.md for details

    //////////////////////////////////////
    // Target Analysis Parameters
    //////////////////////////////////////

    // Input files for Functional Analysis
    miRNA_DE = "/path/to/miRNA_list.csv/tsv" // Required. See README.md for details
    deseq2_output = 1 // optional, default = 1 (DESeq2 output expected). See README.md for details
    bulk_rna_counts = "/path/to/bulk_rna_counts.csv/tsv" // optional. See README.md for details
    min_expression = 0 // optional, default = 0. See README.md for details
    
    // miRNA target filtering parameters
    experimental_evidence = "weak" // optional, default = "weak". See README.md for details
    min_weighted_context_percentile = 50 // optional, default = 50. See README.md for details
    max_predicted_KD = -2.0 // optional, default = 0.0. See README.md for details

}